#img{
    width: 1500px;
    height: 400px;
    background-image: url("../assets/pexels-james-wheeler-1486974.jpg");
    padding-top: 9%;
}
#img>h4{
    padding-top: 2%;
}
#img>h5{
    text-align: left;
    /* padding-top: 3%; */
}
h1{
    font-size: 4em;
}

    


