
<div class="container-fluid">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner shadow  bg-body rounded">
     <div class="carousel-item active text-center text-white" id="img">
      <h1>Everyday Inspirational Quotes</h1>
      <h4>Nothing is impossible, the word itself says 'I'm possible'!</h4>
      <h6>-Audrey Hepburn</h6>
      <h5>Powered by VeeQuotes</h5>
     </div>
     <div class="carousel-item text-center ">
       <div class="card bg-dark text-white">
         <img src="../assets/image9.jpg" style="width: 1500px;height: 400px;">
         <div class="card-img-overlay" id="img2">
           <h1 class="card-title"></h1>
           <h1 class="card-text">If you believe in yourself and have dedication and pride - and never quit, you'll be a winner. The price of victory is high but so are the rewards.</h1>
           <p class="card-text">-Bear Bryant</p>
           <h5>Powered by VeeQuotes</h5>
         </div>
       </div>
   </div> 
     </div>
 </div>
  </div>
  <app-quote></app-quote>