
<div class="container-fluid">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
   <div class="carousel-inner shadow  bg-body rounded">
     <div class="carousel-item active text-center text-white" id="img">
      <h1>Everyday Inspirational Quotes</h1> <br>
      <h3>I don't believe you have to be better than everybody else. </h3>
        <h3>I believe you have to be better than you ever thought you could be.</h3>
      <h6>-Ken Venturi</h6>
      <h5>Powered by VeeQuotes</h5>
     </div>
     <div class="carousel-item text-center ">
       <div class="card bg-dark text-white">
         <img src="../assets/pexels-alexas-fotos-6935107.jpg" style="width: 1500px;height: 400px;">
           <h5>Powered by VeeQuotes</h5>
         </div>
       </div>
   </div> 
     </div>
 </div>
 
  <app-quote></app-quote>