
#delete{
    
    background-color: crimson;
    border-radius: 40px;
    color: white;
    width: 20%;

}
#tUp{
   
    cursor: pointer;
    padding-right: 6%;
    padding-left: 6%;

}
#tDown{
   
    padding-left: 6%;
    padding-right: 10%;
    cursor: pointer;
}