
<div class="container" id="quote">
  <div class="row">
    <div class="col">
  <div 
  *ngFor="let quote of quotes; let i = index"
  class="shadow bg-body rounded"
  id="shadow1"
>
<div *ngIf="ishighestVotes==quote.upvotes && quote.upvotes>0;then highlight else notHighlight"></div>
<ng-template #highlight >
  <div >
    {{ quote.quote }} <br /><br /><br />{{ quote.author }} <br /><br />
    <h6 >Did this quote inspire you?</h6>
    posted: {{quote.postDate|date|dateCount}} days ago
  </div>
</ng-template >
<ng-template #notHighlight>
  <div  >
    {{ quote.quote }} <br /><br /><br />{{ quote.author }} <br /><br />
    <h6>Did this quote inspire you?</h6>
    posted: {{quote.postDate|date|dateCount}} days ago
  </div>
</ng-template>

  <app-quote-details (canDelete)="quoteDelete($event, i)">
  </app-quote-details>
  
</div>
</div>
<div class="container">
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
<div  class="container" >
</div>