<div class="container">
  <br /><br />
  <h1 class="text-center text-white">EVERYDAY INSPIRATIONAL QUOTES</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="quote">
    <div
      *ngFor="let quote of quotes; let i = index"
      class="shadow bg-body rounded"
      id="shadow1"
    >
      <div *ngIf="ishighestVotes()==quote.upvotes && quote.upvotes > 0 then highlighted  else normal">
      </div>

      <ng-template #highlighted>
        <div appHighlight>
          {{ quote.quote }} <br />-{{ quote.author }} <br /><br />
          <h6>Did this quote inspire you highlighted?</h6>
          postDate: {{ quote.postDate | date }}

          submitted by:{{ quote.name }}
        </div>
      </ng-template>

      <ng-template #normal>
        <div>
          {{ quote.quote }} <br />-{{ quote.author }} <br /><br />
          <h6>Did this quote inspire you?</h6>
          postDate: {{ quote.postDate | date }}

          submitted by:{{ quote.name }}
        </div>
      </ng-template>

      <app-quote-details [quote]="quote" 
          (canDelete)="quoteDelete(i)" 
          (addVotes)="addVotes(i)"
          >
      </app-quote-details>
      <br />
      Posted :{{ quote.postDate | dateCount }}days ago
      <br />
      <br />
      By:{{ quote.name }}
    </div>
  </div>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
